body {
    background-image: url("https://i.pinimg.com/1200x/9d/c1/b1/9dc1b1672ea26cd5711cfd394f73ab1b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img {
    width: 7vw;
    user-select: none;
}

.blank-spot {
    position: absolute;
    /* user-select: none; */
}

.card-div {
    /* display: inline-block; */
    /* margin-right: 10px; */
    /* background: black; */
    position: absolute;
    user-select: none;
}